$blaq: #000;
$blaq2: #000e;
$blaq3: #000d;
$blaq4: #000c;
$blaq5: #000a;

$black1: #111;
$black2: rgba(17, 17, 17, 0.9);
$black3: rgba(17, 17, 17, 0.8);
$black4: rgba(17, 17, 17, 0.7);
$black5: rgba(17, 17, 17, 0.5);

$black22: #222;
$gray: #808080;
$gray-a: #aaa;
$gray-b: #bbb;
$gray-c: #ccc;
$gray-d: #ddd;
$gray-e: #eee;
$white: #fafafa;
$white90: rgba(255, 255, 255, 0.9);
$white80: rgba(255, 255, 255, 0.8);
$white70: rgba(255, 255, 255, 0.7);
$white60: rgba(255, 255, 255, 0.5);

$gold: #ffd609;
$gold2: #e9c304;
$gold3: #c7a80f;

@font-face {
  font-family: Cast;
  src: url("../assests/Castillo.ttf");
}
@font-face {
  font-family: Cassandra;
  src: url("../assests/Cassandra\ Personal\ Use.ttf");
}
@font-face {
  font-family: Gills;
  src: url("../assests/Gill-Sans/Gill\ Sans.otf");
}
@font-face {
  font-family: GillsMid;
  src: url("../assests/Gill-Sans/Gill\ Sans\ Medium.otf");
}

@mixin imageBtn($marg: 0.7rem, $pad: 7px 7px 5px, $bg: rgba(17, 17, 17, 0.1)) {
  position: absolute;
  margin: $marg;
  padding: $pad;
  border: none;
  border-radius: 50%;
  background: $bg;
  z-index: 2;
  color: #999;
  box-shadow: 1px 2px 5px 0 #1113;
  &:hover {
    background: $black5;
  }
}
@mixin flex($dir: row, $jus: space-between, $align: center) {
  display: flex;
  flex-direction: $dir;
  justify-content: $jus;
  align-items: $align;
}
@mixin trans($dig: 450ms) {
  transition: all $dig ease-in-out;
}

@mixin scrollDesign {
  &::-webkit-scrollbar-thumb {
    background-color: $black4;
    border-radius: 7px;
    border: 1px solid $black5;
    @include trans(350ms);
    &:hover {
      background-color: $blaq3;
    }
  }
  &::-webkit-scrollbar {
    height: 10px;
    width: max-content;
    background-color: $gray-b;
    border-radius: 7px;
  }
}
@mixin scrollDesignLight {
  @include trans(250ms);

  &::-webkit-scrollbar {
    // opacity: 0;
  }

  // &:hover {
  &::-webkit-scrollbar-thumb {
    background-color: $gray-b;
    border-radius: 6px;
    border: 1px solid $gray-b;
    height: 10px;
    visibility: hidden;
    @include trans(350ms);
    &:hover {
      background-color: $black4;
    }
  }
  &::-webkit-scrollbar {
    height: 10.5px;
    width: max-content;
    background-color: $gray-e;
    border-radius: 5px;
    // opacity: 0;
    visibility: hidden;
  }
  &:hover {
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
      visibility: visible;
      // opacity: 1;
    }
  }
}
