/* @import "./colors"; */
/* // body { */
/* // :global(*) { */
/* // html { */
.body,
.body *
/* #__next * */
/* [class*="User"] */ {
  margin: 0;
  padding: 0;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}
.body *::-webkit-scrollbar-thumb {
  display: none !important;
}
/* // } */
/* //LOGO */
.logo {
  padding: 0.3rem 1.5rem;
  text-transform: uppercase;
  width: fit-content;
  text-decoration: none;
}
a.logo {
  color: #000;
  text-decoration: none;
  font-family: Cast;
  font-size: 3vw;
  transition: all 100ms ease-in-out;
}
a.logo:visited {
  color: #000;
}
a.logo:hover {
  color: #ffd609;
}

/* //INPUT */
.form__group {
  position: relative;
  width: 100%;
  margin-bottom: 1.5rem;
}
/* // & + .form__group {
  // 	margin-top: 1.5rem;
  // .form-input { */
.form__group input,
.form__group textarea {
  position: relative;
  /* // padding: 12px 0px 5px 0; */
  width: 100%;
  /* // outline: 0; */
  /* // border: 0; */
  /* // box-shadow: 0 1px 0 0 #e5e5e5; */
  transition: box-shadow 350ms ease-out;
  padding: 7px 10px;
  height: 4.25vh;

  border: 0.5px solid #eee;
  border-radius: 7px;
  box-shadow: 0 1px 7px 0.1px #ddd;
  /* // &:focus {
    // 	box-shadow: 0 2px 0 0 blue;
    */
}
.form__group input::placeholder,
.form__group textarea::placeholder {
  color: #ddd;
  padding: 2px 7px;
  font-family: Gills;
  font-size: 13px;
}
.form__group input:focus,
.form__group input:focus-visible,
.form__group input:focus-within,
.form__group textarea:focus,
.form__group textarea:focus-visible,
.form__group textarea:focus-within {
  box-shadow: 0 2.5px 9px 0.5px #aaa;
  outline: none !important;
}
/* } */
.textarea {
  transition: all 100ms ease-in-out;
  height: 40vh !important;
  color: #000a;
  font-size: 0.825rem;
  line-height: 1.5;
  word-spacing: 1.5px;
  letter-spacing: -0.4px;
}
.textarea:focus {
  line-height: 1.525;
  font-size: 0.84rem;
  color: #000e;
}
.form__label {
  position: absolute;
  left: 0;
  top: 10px;
  color: #bbb;
  background-color: #fefefe;
  padding: 2px 10px;
  margin-left: 0.5rem;
  /* // font-family: Gills; */
  font-size: 14px;
  letter-spacing: -0.1px;
  z-index: 10;
  width: fit-content;
  transition: all 170ms ease-out;
  border-radius: 100vh;
  box-shadow: 0 0.5px 15px 1px whitsmoke;
}
/* // display: none;
  // transition: transform 150ms ease-out, font-size 150ms ease-out; */
.form__label:last-of-type {
  padding-right: 2rem;
}
.form__group span {
  color: #aaa;
  position: absolute;
  top: 15px;
  right: 0;
}
/* // .form-input.filled {
  //   box-shadow: 0 2px 0 0 lightgreen;
} */
/* //INPUT FOCUSED STATE EDIT */
.focused {
  box-shadow: 0 2.5px 90px 5px whitesmoke;
  color: #808080 !important;
  padding: 7px 7px 5px 13px !important;
  left: -10px !important;
  /* // margin-left: 0.7rem;
  // font-size: 11.5px !important;
  */
  transform: translateY(-105%) scale(0.8);
}

/* //FOOTER */
.footer {
  /* // padding: 0.8rem 2rem; */
  width: 100%;
  position: fixed;
  position: fixed;
  bottom: 0;
  right: 0.7rem;
}
.footer p {
  float: right;
  clear: right;
  /* // position: absolute; 
    // bottom: 0.8rem;
    // right: 2rem;
    */
  font-family: Cast !important;
  font-size: 2.2rem;
}
/* //TOASTS */
.Toastify__toast-body div:last-of-type {
  font-family: Gills;
  padding-left: 5px;
  /* // font-size: 1rem; */
}

/* //PORTALS */
.portal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000a;
  z-index: 100;
  display: flex;
  /* // position: absolute; */
  justify-content: center;
  align-items: center;
}
