@import "./colors";

#loader {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: #fefefe;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.title__container {
  height: 90vh;
  width: 100%;
  @include flex($dir: column);
}
h1.title {
  font-family: Cast;
  font-size: 4rem;
  letter-spacing: -3px;
  text-transform: uppercase;
  margin: 1rem auto;
}
img.Ubuntu {
  bottom: 0;
  left: -3rem;
  max-width: 40vw;
  object-fit: contain;
  position: absolute;
  width: auto;
  height: auto;
  z-index: 99;
}
.loading__container {
  width: 50px;
  height: 50px;
  margin-top: 0.5rem;
  @include flex;
}
//LOADER
.loader {
  width: fit-content;
}
